body {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

#navbar {
  display: flex;

  h3 {
    font-size: 20px;
    opacity: 0.7;
    font-family: "Ubuntu", sans-serif;
  }

  img {
    width: 64px;
    height: 66px;
    margin: 5px 0 0 9px;
  }
}
.buttons-container {
  display: flex;
  width: 346px;
  height: 23px;
  margin-top: 25px;
  margin-left: 463px;

  a {
    width: 74px;
    height: 23px;
    font-size: 13px;
    font-weight: 500;
    color: rgba(44, 181, 180, 1);
    font-family: "Ubuntu", sans-serif;
    flex: 1;
    text-decoration: none;
  }
  .about-us {
    width: 106px;
  }
}
.get-started-button {
  width: 161px;
  height: 40px;
  background-color: rgba(44, 181, 180, 1);
  font-family: "Ubuntu", sans-serif;
  border-radius: 5px;
  border: none;
  font-size: 11px;
  color: white;
  font-weight: 500;
  margin: 17px 0 0 100px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.25);
}
.container {
  display: flex;
}
.left-container {
  width: 50%;
  height: 500px;
  background-color: rgba(207, 243, 243, 1);
  margin-top: 0;
  display: 1;

  .say-goodbye {
    width: 335px;
    height: 100px;
    font-size: 50px;
    font-family: "Ubuntu", sans-serif;
    margin-left: 189px;
    line-height: 60px;
    color: rgba(61, 93, 121, 1);
    transform: translate(-10%, 100%);

    button {
      width: 161px;
      height: 40px;
      background-color: rgba(44, 181, 180, 1);
      font-family: "Ubuntu", sans-serif;
      border-radius: 5px;
      border: none;
      font-size: 11px;
      color: white;
      font-weight: 500;
      box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.25);
    }
    p {
      color: rgba(144, 154, 161, 1);
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
    }
    a {
      color: rgba(68, 105, 137, 1);
      font-weight: 400px;
      font-family: "Ubuntu", sans-serif;
      font-size: 14px;
      margin-left: 13px;
    }
  }
}
.right-container {
  flex: 1;
  img {
    width: 100%;
    height: 500px;
    background-color: rgba(207, 243, 243, 1);
  }
}
.container2 {
  width: 100%;
  height: 700px;
  h3 {
    font-size: 45px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    text-align: center;
    color: rgba(61, 93, 121, 1);
    margin-top: 100px;
  }
  button {
    width: 161px;
    height: 40px;
    background-color: rgba(44, 181, 180, 1);
    font-family: "Ubuntu", sans-serif;
    border-radius: 5px;
    border: none;
    font-size: 11px;
    color: white;
    font-weight: 500;
    display: block;
    margin: 0 auto;
    box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.25);
  }
  ul {
    display: flex;
    justify-content: center;
  }
  ul li {
    list-style-type: none;
  }
  ul li img {
    width: 272px;
    height: 272px;
    margin: 50px 30px 0 30px;
    border-radius: 5px;
  }
  ul li p {
    text-align: center;
    width: 200px;
    font-size: 17px;
    font-family: "Ubuntu", sans-serif;
    color: rgba(44, 181, 180, 1);
    font-weight: 400;
    line-height: 26px;
    margin: 5px 0 0 40px;
  }

  .container3 {
    display: flex;
    justify-content: space-between;
    .left {
      width: 250px;
      height: 207px;
      margin: 138px 50px 0 140px;
      .p-01 {
        margin-bottom: 115px;
      }
    }
    .right {
      margin: 138px 150px 0 0;
      width: 250px;
      height: 207px;
    }
    .p-03 {
      margin-bottom: 95px;
    }
    span {
      font-family: "Ubuntu", sans-serif;
      font-weight: 700;
      font-size: 16px;
      color: rgba(61, 93, 121, 1);
    }
    p {
      width: 100%;
      font-size: 17px;
      font-family: "Ubuntu", sans-serif;
      color: rgba(44, 181, 180, 1);
      font-weight: 400;
      line-height: 1.5;
    }
    h4 {
      font-family: "Ubuntu", sans-serif;
      font-weight: 700;
      font-size: 31px;
      color: rgba(80, 93, 104, 1);
      margin: 0;
      padding: 0;
    }
  }

  .main {
    img {
      width: 300px;
      margin-right: 80px;
    }
    button {
      margin-left: 70px;
    }
  }
  .endline {
    width: 100%;
    height: 220px;
    background-color: rgba(207, 243, 243, 1);
    margin-top: 110px;

    h3 {
      font-size: 30px;
      font-family: "Ubuntu", sans-serif;
      font-weight: 700;
      text-align: center;
      color: rgba(61, 93, 121, 1);
      padding-top: 40px;
    }
    .options {
      display: flex;
      img {
        margin-left: 110px;
      }
    }
  }

  .heading {
    h2,
    h4 {
      font-size: 40px;
      font-family: "Ubuntu", sans-serif;
      font-weight: 700;
      text-align: center;
      color: rgba(61, 93, 121, 1);
    }
    h4 {
      font-size: 19px;
    }
    h6 {
      color: rgba(44, 181, 180, 1);
      font-weight: 400;
      font-family: "Ubuntu", sans-serif;
      text-align: center;
      font-size: 15px;
    }
  }
  .slider {
    display: flex;
    position: relative;
    overflow: hidden;

    .images {
      display: flex;
      width: 100%;
      height: 57%;
      margin-left: 100px;
      gap: 25px;

      img {
        height: 57%;
        width: 100%;
        transition: all 0.15s ease;
      }
      input {
        display: none;
      }
    }
    .dots {
      display: flex;
      margin-top: 300px;
      margin-right: 700px;

      label {
        height: 20px;
        width: 20px;
        cursor: pointer;
        transition: all 0.15s ease;
      }
      #img1:checked ~ .m1 {
        margin-left: 0;
      }
      #img2:checked ~ .m2 {
        margin-left: -100%;
      }
      #img3:checked ~ .m3 {
        margin-left: -200%;
      }
      #img4:checked ~ .m4 {
        margin-left: -200%;
      }
    }
  }
  .content1 {
    display: flex;
    gap: 30px;

    .img-container {
      img {
        width: 250px;
        height: 250px;
        border-radius: 1px;
        margin-left: 100px;
        margin-top: 120px;
      }
    }
    .text {
      width: 60px;
      height: 50px;
      background-color: rgb(238, 250, 250);
      color: rgba(61, 93, 121, 1);
      font-weight: 500;
      margin-top: 120px;
      font-size: 40px;
      padding: 15px;
      font-family: "Ubuntu", sans-serif;
    }
    .intro {
      margin-top: 80px;
      margin-left: 60px;

      h1 {
        font-size: 42px;
        font-family: "Ubuntu", sans-serif;
        font-weight: 700;
        color: rgba(61, 93, 121, 1);
      }
      p {
        font-size: 17px;
        font-family: "Ubuntu", sans-serif;
        color: rgba(44, 181, 180, 1);
        font-weight: 400;
        line-height: 0;
        margin-top: -8px;
      }
    }
  }
  .content2 {
    display: flex;
    margin: 50px 0 0 100px;

    .text-container {
      h1 {
        font-size: 42px;
        font-family: "Ubuntu", sans-serif;
        font-weight: 700;
        color: rgba(61, 93, 121, 1);
      }
      p {
        font-size: 17px;
        font-family: "Ubuntu", sans-serif;
        color: rgba(44, 181, 180, 1);
        font-weight: 400;
        line-height: 0;
        margin-top: -8px;
      }
    }
    img {
      width: 500px;
      height: 503px;
      margin-left: 237px;
      margin-top: -140px;
    }
  }
  .get-started-button {
    margin-left: 0;
    margin-top: 50px;
  }
  .footer {
    width: 1261px;
    height: 214px;
    .navline {
      height: 190px;
      background-color: rgba(61, 93, 121, 1);
      margin-top: 20px;
      display: flex;
      border: 1px solid rgba(194, 209, 217, 1);

      h2 {
        color: rgba(255, 255, 255, 1);
        margin-left: 70px;
        font-family: "Ubuntu", sans-serif;
        font-weight: 700;
      }

      .product,
      .information,
      .be-social {
        width: 140px;
        height: 135px;
        margin-top: 13px;
        margin-left: 150px;

        ul,
        li,
        a {
          font-family: "Ubuntu", sans-serif;
          color: rgba(204, 204, 204, 1);
          font-weight: 400;
          font-size: 13px;
          text-decoration: none;
          list-style-type: none;
          line-height: 24px;
        }
        ul {
          font-weight: 500;
          color: rgba(255, 255, 255, 1);
          margin-left: -120px;
        }
      }
      .information {
        margin-left: 90px;
        ul {
          margin-right: -30px;
        }
      }
      .be-social {
        margin-left: 230px;
      }
    }
    .footer-line {
      height: 9px;
      background-color: rgba(61, 93, 121, 1);
      padding-bottom: 24px;
      font-family: "Ubuntu", sans-serif;
      border: 1px solid rgba(194, 209, 217, 1);
      color: rgba(255, 255, 255, 1);
      font-size: 13px;
      display: flex;
      justify-content: space-around;
      p {
        flex-grow: 10;
        margin-left: 40px;
      }

      a {
        color: rgba(255, 255, 255, 1);
        text-decoration: none;
        flex-grow: 1;
        padding-top: 10px;
      }
    }
  }
}
